*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}
body{
	height: 100vh;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax-wrapper{
	width: 100vw;
	height: 100vh;
	padding-top: 20vh;
	transform-style: preserve-3d;
}
.parallax-wrapper::before {
	content: "";
	width:100vw;
	height:100vh;
	top:0;
	left: 0;
	background: url(../img/carousel2.jpg);
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index:-1;
	transform: translateZ(-1px) scale(2);
}
.regular-wrapper{
	width: 100vw;
	height: 100vh;
	padding-top: 20vh;
	background:url(../img/carousel1.jpg);
	background-size: cover;
	background-position: center;
	z-index:2;
	position: relative;
}
.content{
	margin:0 auto;
	padding: 50px;
	width: 50%;
	background-color: red;
}